@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.contact {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: clamp(20px, vw(48), 48px);
    gap: 24px;

    @include media(mobile-l) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-big);
    padding: clamp(16px, vw(24), 24px);
    background-color: var(--color-white);
    gap: 36px;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: clamp(14px, 0.6964rem + 0.8929vi, 24px);
    gap: clamp(10px, vw(24), 24px);

    &::before {
      content: "";
      position: relative;
      display: block;
      width: 64px;
      height: 64px;
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;

      @include media(tablet) {
        width: 48px;
        height: 48px;
      }
    }

    &--email {
      &::before {
        background-image: url("../images/icons/email.svg");
      }

      @include media(mobile-m) {
        flex-direction: column;
      }
    }

    &--phone {
      &::before {
        background-image: url("../images/icons/phone.svg");
      }

      @include media(mobile-m) {
        flex-direction: column;
      }
    }

    &--shedule {
      &::before {
        background-image: url("../images/icons/clock.svg");
      }
    }
  }

  &__name {
    display: grid;

    span:not([class]) {
      font-weight: var(--fw-600);
    }
  }

  .btn {
    margin: 0 auto;
  }
}
