@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.about {
  $root: &;

  &__inner {
    @include flex-sb;

    gap: 24px;

    @include media(mobile-l) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--radius-big);
    padding: clamp(20px, vw(64), 64px);
    width: 100%;
    max-width: 764px;
    background-color: var(--color-gray-100);
  }

  &__image {
    overflow: hidden;
    border-radius: var(--radius-big);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &--home {
    p {
      margin-bottom: clamp(16px, vw(48), 48px);
    }
  }

  &--services {
    #{$root}__content {
      max-width: 596px;
      padding: clamp(16px, vw(24), 24px);
      background-color: var(--color-white);

      @include media(mobile-l) {
        max-width: 100%;
      }
    }

    #{$root}__inner {
      margin-bottom: clamp(30px, vw(88), 88px);
    }
  }

  h2 {
    margin-bottom: 24px;
  }
}
