@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  * {
    position: relative;
    z-index: 1;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--radius-big);
    padding: 0 16px 0 clamp(16px, vw(64), 64px);
    min-height: 646px;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      width: 60%;
      background: var(--gradient);
      inset: 0;
    }

    @include media(tablet-wide) {
      background-size: cover;
    }

    @include media(mobile-m) {
      padding: 20px;
    }
  }

  h1 {
    margin-bottom: 24px;
    font-size: clamp(32px, 2rem + 1vi, 56px);
    line-height: 1.22;
  }

  p {
    margin-bottom: 1.6rem;
    width: 100%;
    max-width: 627px;
    color: var(--color-blue-800);

    @include media(tablet) {
      max-width: 100%;
    }
  }

  @include media(tablet) {
    &__inner {
      min-height: 442px;
    }
  }

  @include media(mobile-m) {
    .btn {
      max-width: none;
    }

    br {
      display: none;
    }
  }

  &--about,
  &--services {
    p {
      margin-bottom: 0;
      max-width: 567px;
    }
  }
}
