@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    @include media(tablet) {
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
      flex-direction: column;
      justify-content: flex-start;
      overflow-y: auto;
      padding-top: calc(var(--header-height) * 1.5);
      width: 100%;
      height: calc(var(--vh));
      background-color: var(--color-white);
      transform: translateX(150%);
      transition-property: transform;
      transition-duration: 0.4s;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: clamp(16px, vw(48), 48px);

    @include media(tablet) {
      z-index: -1;
      flex-direction: column;
      margin-right: 0;
    }
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: clamp(10px, vw(25), 25px);

      @include media(tablet) {
        margin-right: 0;
      }
    }

    @include media(tablet) {
      margin-bottom: 30px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-blue-400);
    }

    &.true {
      color: var(--color-blue-400);
    }
  }

  .btn {
    @include media(tablet) {
      margin: 0 auto;
    }
  }

  .btn--sign {
    margin-right: 8px;

    @include media(tablet) {
      margin: 0 auto 20px !important;
    }
  }
}
