@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.request {
  margin-bottom: 24px;
  border-radius: var(--radius-big);
  padding: clamp(16px, vw(64), 64px);
  background-color: var(--color-blue-900);

  h2 {
    margin-bottom: 0;
    font-size: clamp(36px, 2rem + 1vi, 56px);
    color: var(--color-white);

    @include media(tablet) {
      margin-bottom: 1rem;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(16px, vw(48), 48px);

    @include media(tablet) {
      flex-direction: column;
    }
  }

  &__form {
    border-radius: var(--radius-big);
    padding: clamp(16px, vw(32), 32px);
    width: 100%;
    max-width: 700px;
    box-shadow: 0 4px 40px 0 rgba(43, 89, 255, 0.08);
    background-color: var(--color-blue-800);

    label {
      display: block;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    textarea,
    input {
      margin-right: 8px;
      border-radius: 24px;
      padding: 16px;
      width: 100%;
      height: 66px;
      font-size: 16px;
      line-height: 1;
      background-color: var(--color-gray-100);
    }

    textarea {
      height: 156px;
      resize: none;
    }
  }

  .btn {
    margin-top: 20px;
  }
}
