@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.request {
  padding-top: clamp(50px, vw(80), 80px);

  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-size: clamp(26px, 1.55rem + 0.375vi, 32px);
    line-height: 1;
    text-decoration: underline 2px solid;
    transition: text-decoration-color 0.4s linear;
    text-underline-offset: 5px;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  h2 {
    margin: 0 auto 2rem;
    font-weight: var(--fw-600);
    font-size: clamp(28px, 2rem + 1vi, 40px);
    text-align: center;
  }

  .btn {
    margin: 0 auto;

    @include media(mobile-m) {
      max-width: none;
    }
  }
}
