@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.reviews {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    gap: clamp(20px, vw(60), 60px) clamp(20px, vw(80), 80px);

    @include media(mobile-m) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 100%;
    gap: 1.6rem;

    @include media(tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__author {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(mobile-m) {
      align-items: start;
    }
  }

  &__avatar {
    margin-bottom: 14px;
    border-radius: 100%;
    width: 64px;
    height: 64px;
  }

  h2 {
    margin: 0 auto 2rem;
    text-align: center;
  }

  h3 {
    font-weight: var(--fw-500);
    font-size: 24px;
    color: var(--color-orange);
  }

  p {
    margin-bottom: 16px;
  }

  svg {
    margin-top: auto;
    max-height: 20px;
  }

  .btn--reverse {
    margin: 0 auto;

    @include media(mobile-m) {
      max-width: none;
    }
  }
}
