@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.company {
  padding-top: clamp(50px, vw(100), 100px);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  h2 {
    margin: 0 auto 2rem;
    text-align: center;
  }
}
