@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

h1,
h2,
h3 {
  overflow: hidden;
  width: fit-content;
  font-weight: var(--fw-700);
  // margin-bottom: 2.4rem;
  font-size: clamp(32px, 1.8rem + 1vi, 48px);
  line-height: 1.2;
  color: var(--color-black);
}

h2{
  margin-bottom: 2.4rem;
}

h3 {
  font-size: clamp(18px, 1.1215rem + 0.3155vi, 24px);
}

p {
  opacity: 0.8;
}
