@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.instalation {
  &__inner {
    position: relative;
    min-height: clamp(400px, vw(646), 646px);
    margin-bottom: 24px;
  }

  &__image {
    position: absolute;
    top: 0;
    overflow: hidden;
    border-radius: var(--radius-big);
    width: 100%;
    height: 100%;

    @include media(mobile-l) {
      position: relative;
    }
  }

  &__box {
    position: absolute;
    left: 24px;
    top: 24px;
    z-index: 1;
    border-radius: var(--radius-big);
    padding: 24px;
    width: 100%;
    max-width: 490px;
    background-color: var(--color-white);

    h2 {
      margin-bottom: 16px;
      font-size: clamp(28px, 1.6rem + 0.75vi, 40px);
    }

    @include media(mobile-l) {
      position: relative;
      margin-bottom: 2rem;
      max-width: 100%;
      inset: 0;
    }
  }

  &__list {
    counter-reset: li;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: clamp(20px, vw(48), 48px);
    gap: 24px;

    @include media(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(mobile-l) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    counter-increment: li;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-big);
    padding: clamp(16px, vw(24), 24px);
    background-color: var(--color-white);

    &::before {
      content: counter(li, decimal-leading-zero);
      position: relative;
      align-self: flex-end;
      margin-bottom: clamp(16px, vw(32), 32px);
      font-weight: var(--fw-700);
      font-size: clamp(30px, 1.65rem + 1.125vi, 48px);
      line-height: 1.2;
    }

    h3 {
      margin-bottom: 8px;
      font-weight: var(--fw-600);
    }

    p {
      font-size: 16px;
      line-height: 1.2;
    }
  }

  .btn {
    margin: 0 auto;
  }
}
