@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.service {
  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: clamp(30px, vw(88), 88px);
    gap: 24px;

    @include media(tablet-wide) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--radius-big);
    padding: 0 24px;
    width: 100%;
    max-width: 596px;
    background-color: var(--color-white);

    @include media(tablet-wide) {
      padding: 16px;
      max-width: 100%;
    }

    h2 {
      margin-bottom: 24px;
    }
  }

  &__list {
    display: grid;
    grid-auto-rows: minmax(min-content, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include media(mobile-l) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-big);
    padding: clamp(16px, vw(24), 24px);
    background-color: var(--color-white);

    &::before {
      content: "";
      position: relative;
      align-self: flex-end;
      margin-bottom: clamp(16px, vw(32), 32px);
      width: 64px;
      height: 64px;
      background-image: url("../images/icons/heart.svg");
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--optimal {
      &::before {
        background-image: url("../images/icons/efficiency.svg");
      }
    }

    &--longevity {
      &::before {
        background-image: url("../images/icons/logevity.svg");
      }
    }

    &--solution {
      &::before {
        background-image: url("../images/icons/pers.svg");
      }
    }

    &--mind {
      &::before {
        background-image: url("../images/icons/heart.svg");
      }
    }

    h3 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 7px;
      font-size: 16px;
      line-height: 1.2;
    }
  }
}
